<h3>Cardápio de Bebidas</h3>

Toque no produto para adicionar ao pedido
<br>
<br>
<ul>
  <li class="menuItems" id="menuItems" *ngFor="let p of products" (click)="prodClicked(p)">
    {{p.nome}}  -  R${{p.preco}} <br><br>
  </li>
</ul>
<br>

<br>
<h2 *ngIf="selectedPrudctsId.length>0">Seu Pedido</h2>
<p  *ngIf="selectedPrudctsId.length>0">{{selectedPrudctsId.length}} Itens adicionados</p><br>
<ul>
  <li *ngFor="let k of selectedPrudctsId" >
   
    {{k.nome}}  -  R${{k.preco}}
  </li>
</ul>


<ul class="actions">
  <li><h2>Conta: R${{conta.toFixed(2)}}</h2></li>
  <li><button (click)="create()" class="button special">Enviar pedido</button> </li>
  <li><button (click)="bill()" class="button special">Efetuar Pagamento</button> </li>
  
  
</ul>